<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AreaMapper">
	
	<resultMap type="Area" id="areaResultMap">
		<id property="areaKey" column="AREA_KEY"/>
		<result property="areaName" column="AREA_NAME"/>
		<result property="areaAddress" column="AREA_ADDRESS"/>
		<result property="areaGeoCode" column="AREA_GEOCODE"/>
		<result property="areaGS25" column="AREA_GS25"/>
		<result property="areaToilet" column="AREA_TOILET"/>
		<result property="areaSink" column="AREA_SINK"/>
		<result property="areaPool" column="AREA_POOL"/>
		<result property="areaImage" column="AREA_IMAGE"/>
		<result property="areaEtc" column="AREA_ETC"/>
		<result property="foodZoneKey" column="FOODZONE_KEY"/>
		<result property="placeKey" column="PLACE_KEY"/>
	</resultMap>
	
	<resultMap type="FoodZone" id="FoodZoneResultMap">
		<id property="foodZoneKey" column="FOODZONE_KEY"/>
		<result property="foodZoneName" column="FOODZONE_NAME"/>
		<result property="foodZoneAddress" column="FOODZONE_ADDRESS"/>
		<result property="foodZoneGeoCode" column="FOODZONE_GEOCODE"/>
		<result property="foodZonePhone" column="FOODZONE_PHONE"/>
		<result property="foodZoneImage" column="FOODZONE_IMAGE"/>
		<result property="foodZoneEtc" column="FOODZONE_ETC"/>
	</resultMap>
	
	<resultMap type="Place" id="PlaceResultMap">
		<id property="placeKey" column="PLACE_KEY"/>
		<result property="placeName" column="PLACE_NAME"/>
		<result property="placeAddress" column="PLACE_ADDRESS"/>
		<result property="placeGeoCode" column="PLACE_GEOCODE"/>
		<result property="placeGS25" column="PLACE_GS25"/>
		<result property="placeToilet" column="PLACE_TOILET"/>
		<result property="placeParking" column="PLACE_PARKING"/>
		<result property="placeImage" column="PLACE_IMAGE"/>
		<result property="placeEtc" column="PLACE_ETC"/>
	</resultMap>
	
	<resultMap type="AreaReview" id="AreaReviewResultMap">
		<id property="arKey" column="AR_KEY"/>
		<result property="areaKey" column="AREA_KEY"/>
		<result property="arTitle" column="AR_TITLE"/>
		<result property="arContent" column="AR_CONTENT"/>
		<result property="arScore" column="AR_SCORE"/>
		<result property="arRegDate" column="AR_REGDATE"/>
		<result property="arHits" column="AR_HITS"/>
		<result property="arPhoto" column="AR_PHOTO"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
	
	<resultMap type="AreaReviewComment" id="AreaReviewCommentResultMap">
		<id property="arcKey" column="ARC_KEY"/>
		<result property="arcContent" column="ARC_CONTENT"/>
		<result property="arKey" column="AR_KEY"/>
		<result property="arcWriter" column="ARC_WRITER"/>
		<result property="arcRegDate" column="ARC_REGDATE"/>
	</resultMap>
	
	<select id="selectList" resultMap="areaResultMap">
		SELECT * FROM AREA
	</select>

	<select id="selectArea" resultMap="areaResultMap">
		SELECT * FROM AREA
		WHERE AREA_NAME = #{areaName}
	</select>
	
	<select id="selectFzList" resultMap="FoodZoneResultMap">
		SELECT * FROM FOODZONE
		WHERE FOODZONE_ADDRESS LIKE #{areaAddress}
	</select>
	
	<insert id="insertArea">
		INSERT INTO AREA
		VALUES(SEQ_AKEY.NEXTVAL, #{areaName}, #{areaAddress}, #{areaGeoCode}, #{areaGS25}, #{areaToilet}, #{areaSink}, #{areaPool}, #{areaImage}, #{areaEtc}, #{foodZoneKey}, #{placeKey}, DEFAULT)
	</insert>
	
	<select id="selectPList" resultMap="PlaceResultMap">
		SELECT * FROM PLACE
		WHERE PLACE_ADDRESS LIKE #{areaAddress}
	</select>
	
	<select id="selectFz" resultMap="FoodZoneResultMap">
		SELECT * FROM FOODZONE
		WHERE FOODZONE_KEY = #{foodZoneKey}
	</select>
	
	<select id="selectP" resultMap="PlaceResultMap">
		SELECT * FROM PLACE
		WHERE PLACE_KEY = #{placeKey}
	</select>
	
	<select id="selectArList" resultMap="AreaReviewResultMap">
		SELECT * FROM AREA_REVIEW
		WHERE AREA_KEY = #{areaKey} AND 3>=ROWNUM
		ORDER BY AR_REGDATE DESC
	</select>
	
	<select id="selectAreaAvg" resultType="double">
		SELECT ROUND(AVG(AR_SCORE),1) FROM AREA_REVIEW 
		WHERE AREA_KEY = #{areaKey}
	</select>
	
	<select id="getAreaReviewListCount" resultType="int">
		SELECT COUNT(*) FROM AREA_REVIEW
		WHERE AREA_KEY = #{areaKey}
	</select>
	
	<select id="getAreaListCount" resultType="int">
		SELECT COUNT(*) FROM AREA
		<where>
			<if test="searchCondition.toString() == '장소명'">
				AREA_NAME LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '주소'">
				AREA_ADDRESS LIKE '%' || #{searchValue} || '%' 
			</if>
		</where>
	</select>
	
	<select id="searchBoardListCount" resultType="int">
		SELECT COUNT(*) FROM AREA_REVIEW
		<where> AREA_KEY = #{areaKey} AND
			<if test="searchCondition.toString() == '제목'">
				AR_TITLE LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '내용'">
				AR_CONTENT LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '작성자'">
				MEMBER_ID LIKE '%' || #{searchValue} || '%' 
			</if>
		</where>
	</select>
	
	<update id="areaReviewHits">
		UPDATE AREA_REVIEW SET
		AR_HITS = AR_HITS + 1
		WHERE AR_KEY = #{arKey}
	</update>
	
	<select id="searchList" resultMap="areaResultMap">
		SELECT * FROM AREA
		<where>
			<if test="searchCondition.toString() == '장소명'">
				AREA_NAME LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '주소'">
				AREA_ADDRESS LIKE '%' || #{searchValue} || '%' 
			</if>
		</where>
	</select>
	
	<select id="searchBoardList" resultMap="AreaReviewResultMap">
		SELECT * FROM AREA_REVIEW
		<where> AREA_KEY = #{areaKey} AND
			<if test="searchCondition.toString() == '제목'">
				AR_TITLE LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '내용'">
				AR_CONTENT LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '작성자'">
				MEMBER_ID LIKE '%' || #{searchValue} || '%' 
			</if>
		</where>
		ORDER BY AR_KEY DESC
	</select>
	
	<select id="selectOne" resultMap="areaResultMap">
		SELECT * FROM AREA
		WHERE AREA_KEY = #{areaKey}
	</select>
	
	<select id="selectAreaReviewList" resultMap="AreaReviewResultMap">
		SELECT * FROM AREA_REVIEW
		WHERE AREA_KEY = #{areaKey} ORDER BY AR_KEY DESC
	</select>
	
	<select id="AreaReviewDetail" resultMap="AreaReviewResultMap">
		SELECT * FROM AREA_REVIEW
		WHERE AR_KEY = #{arKey}
	</select>
	
	<insert id="insertAreaReview">
		INSERT INTO AREA_REVIEW
		VALUES(SEQ_ARKEY.NEXTVAL, #{areaKey}, #{arTitle}, #{arContent}, #{arScore}, SYSDATE, #{arHits}, #{arPhoto,jdbcType=VARCHAR}, #{memberId})
	</insert>
	
	<update id="updateAreaReview">
		UPDATE AREA_REVIEW SET
		AR_SCORE = #{arScore}, AR_TITLE = #{arTitle}, AR_CONTENT = #{arContent}, AR_REGDATE = SYSDATE, AR_HITS = #{arHits}, AR_PHOTO = #{arPhoto,jdbcType=VARCHAR}, MEMBER_ID = #{memberId}
		WHERE AR_KEY = #{arKey}
	</update>
	
	<delete id="deleteAreaReview">
		DELETE FROM AREA_REVIEW
		WHERE AR_KEY = #{arKey}
	</delete>
	
	<insert id="arCommentAdd">
		INSERT INTO AREA_REVIEW_COMMENT
		VALUES(SEQ_ARCKEY.NEXTVAL, #{arcContent}, #{arKey}, #{arcWriter}, SYSDATE) 
	</insert>
	
	<select id="arCommentList" resultMap="AreaReviewCommentResultMap">
		SELECT * FROM AREA_REVIEW_COMMENT
		WHERE AR_KEY = #{arKey}
		ORDER BY ARC_KEY DESC
	</select>

	<delete id="arCommentDelete">
		DELETE FROM AREA_REVIEW_COMMENT
		WHERE ARC_KEY = #{arcKey}
	</delete>
</mapper>
