<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FoodZoneMapper">
	
	<resultMap type="FoodZone" id="FoodZoneResultMap">
		<id property="foodZoneKey" column="FOODZONE_KEY"/>
		<result property="foodZoneName" column="FOODZONE_NAME"/>
		<result property="foodZoneAddress" column="FOODZONE_ADDRESS"/>
		<result property="foodZoneGeoCode" column="FOODZONE_GEOCODE"/>
		<result property="foodZonePhone" column="FOODZONE_PHONE"/>
		<result property="foodZoneImage" column="FOODZONE_IMAGE"/>
		<result property="foodZoneEtc" column="FOODZONE_ETC"/>
	</resultMap>

	<resultMap type="FoodZoneReview" id="FoodZoneReviewResultMap">
		<id property="frKey" column="FR_KEY"/>
		<result property="foodZoneKey" column="FOODZONE_KEY"/>
		<result property="frScore" column="FR_SCORE"/>
		<result property="frTitle" column="FR_TITLE"/>
		<result property="frContent" column="FR_CONTENT"/>
		<result property="frRegDate" column="FR_REGDATE"/>
		<result property="frHits" column="FR_HITS"/>
		<result property="frPhoto" column="FR_PHOTO"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
	<select id="selectAll" resultMap="FoodZoneResultMap">
		SELECT * FROM FOODZONE
	</select>
	
	<select id="selectOneFoodZone" resultMap="FoodZoneResultMap">
		SELECT * FROM FOODZONE WHERE FOODZONE_NAME = #{foodZoneName}
	</select>
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM FOOD_REVIEW WHERE	FOODZONE_KEY = #{foodZoneKey}
	</select>
	<select id="selectReviewList" resultMap="FoodZoneReviewResultMap">
		SELECT * FROM (SELECT * FROM food_review ORDER BY 6 DESC) where foodzone_key = #{foodZoneKey} and (3>=ROWNUM)
	</select>

	<select id="selectFoodZoneAvg" resultType="double">
		SELECT AVG(FR_SCORE) FROM FOOD_REVIEW WHERE FOODZONE_KEY = #{foodZoneKey}
	</select>
</mapper>
