<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ItemMapper">
  
   <resultMap type="Item" id="itemResultMap">
      <result property="itemKey" column="ITEM_KEY"/>
      <result property="itemName" column="ITEM_NAME"/>
      <result property="itemPrice" column="ITEM_PRICE"/>
      <result property="itemInfo" column="ITEM_INFO"/>
      <result property="itemImage" column="ITEM_IMAGE"/>
      <result property="itemCategory" column="ITEM_CATEGORY"/>
      <result property="itemRegDate" column="ITEM_REGDATE"/>
   </resultMap>
   
   <select id="selectTentList" resultMap="itemResultMap">
      SELECT * FROM ITEM
      WHERE ITEM_CATEGORY = 'TENT'
   </select>
   
   <select id="getListCount" resultType="int">
      SELECT COUNT(*)
      FROM ITEM
      WHERE ITEM_CATEGORY = 'TENT'
   </select>
   
   <select id="getSearchCount" resultType="int">
   	 SELECT COUNT(*) FROM ITEM WHERE ITEM_NAME LIKE '%' || #{searchValue} || '%' 
   </select>

   
   <select id="checkItemKey" resultType="int">
		SELECT COUNT(*) 
		FROM CART 
		WHERE ITEM_KEY=#{itemKey} 
		AND MEMBER_ID=#{memberId} 
		AND CART_STATUS='N'
   </select>
      
   	<select id="selectItemDetail" resultMap="itemResultMap">
		SELECT * FROM ITEM
		WHERE ITEM_KEY = #{itemKey}
	</select>
   
	<insert id="insertCart">
      INSERT INTO CART 
      VALUES (
      	SEQ_CKEY.NEXTVAL
      	, #{cartQuantity}
      	, #{cartStatus}
      	, SYSDATE
      	, #{itemKey}
      	, #{memberId} 
      )
   </insert>
   
     <update id="updateCart">
  	 	UPDATE CART 
  	 	SET CART_QUANTITY=#{cartQuantity} 
  	 	WHERE ITEM_KEY=#{itemKey}
   </update>
  
  <select id="searchTent" resultMap="itemResultMap">
      SELECT * FROM ITEM
      WHERE ITEM_NAME LIKE '%' || #{searchValue} || '%'
	  AND ITEM_CATEGORY = 'TENT'
   </select>
   
   <select id="selectTentNew" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'TENT'
   	ORDER BY ITEM_REGDATE DESC
   </select>
   
  <select id="selectTentLow" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'TENT'
   	ORDER BY ITEM_PRICE
   </select>
   
   <select id="selectTentHigh" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'TENT'
   	ORDER BY ITEM_PRICE DESC
   </select> 
   
   <select id="selectCookList" resultMap="itemResultMap">
   	SELECT * FROM ITEM
    WHERE ITEM_CATEGORY = 'COOK'
   </select>
   
   <select id="selectSleepList" resultMap="itemResultMap">
   	SELECT * FROM ITEM
    WHERE ITEM_CATEGORY = 'SLEEP'
   </select>
   
   <select id="selectEtcList" resultMap="itemResultMap">
   	SELECT * FROM ITEM
    WHERE ITEM_CATEGORY = 'ETC'
   </select>
   
   <select id="searchCook" resultMap="itemResultMap">
      SELECT * FROM ITEM
      WHERE ITEM_NAME LIKE '%' || #{searchValue} || '%'
	  AND ITEM_CATEGORY = 'COOK'
   </select>
   
   <select id="selectCookNew" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'COOK'
   	ORDER BY ITEM_REGDATE DESC
   </select>
   
  <select id="selectCookLow" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'COOK'
   	ORDER BY ITEM_PRICE
   </select>
   
   <select id="selectCookHigh" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'COOK'
   	ORDER BY ITEM_PRICE DESC
   </select> 
   
   
   <select id="searchSleep" resultMap="itemResultMap">
      SELECT * FROM ITEM
      WHERE ITEM_NAME LIKE '%' || #{searchValue} || '%'
	  AND ITEM_CATEGORY = 'SLEEP'
   </select>
   
   <select id="selectSleepNew" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'SLEEP'
   	ORDER BY ITEM_REGDATE DESC
   </select>
   
  <select id="selectSleepLow" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'SLEEP'
   	ORDER BY ITEM_PRICE
   </select>
   
   <select id="selectSleepHigh" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'SLEEP'
   	ORDER BY ITEM_PRICE DESC
   </select> 
   
   <select id="searchEtc" resultMap="itemResultMap">
      SELECT * FROM ITEM
      WHERE ITEM_NAME LIKE '%' || #{searchValue} || '%'
	  AND ITEM_CATEGORY = 'ETC'
   </select>
   
   <select id="selectEtcNew" resultMap="itemResultMap">
   	SELECT * FROM ITEM 
   	WHERE ITEM_CATEGORY = 'ETC'
   	ORDER BY ITEM_REGDATE DESC
   </select>
   
  <select id="selectEtcLow" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'ETC'
   	ORDER BY ITEM_PRICE
   </select>
   
   <select id="selectEtcHigh" resultMap="itemResultMap">
   	SELECT * FROM ITEM
   	WHERE ITEM_CATEGORY = 'ETC'
   	ORDER BY ITEM_PRICE DESC
   </select> 
</mapper>