<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PlaceMapper">
	
	<resultMap type="Place" id="PlaceResultMap">
		<id property="placeKey" column="PLACE_KEY"/>
		<result property="placeName" column="PLACE_NAME"/>
		<result property="placeAddress" column="PLACE_ADDRESS"/>
		<result property="placeGeoCode" column="PLACE_GEOCODE"/>
		<result property="placeGS25" column="PLACE_GS25"/>
		<result property="placeToilet" column="PLACE_TOILET"/>
		<result property="placeParking" column="PLACE_PARKING"/>
		<result property="placeImage" column="PLACE_IMAGE"/>
		<result property="placeEtc" column="PLACE_ETC"/>
	</resultMap>
	
	<resultMap type="PlaceReview" id="PlaceReviewResultMap">
		<id property="prKey" column="PR_KEY"/>
		<result property="placeKey" column="PLACE_KEY"/>
		<result property="prScore" column="PR_SCORE"/>
		<result property="prTitle" column="PR_TITLE"/>
		<result property="prContent" column="PR_CONTENT"/>
		<result property="prRegDate" column="PR_REGDATE"/>
		<result property="prHits" column="PR_HITS"/>
		<result property="prPhoto" column="PR_PHOTO"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>

	<select id="selectAll" resultMap="PlaceResultMap">
		SELECT * FROM PLACE
	</select>
	
	<select id="searchList" resultMap="PlaceResultMap">
		SELECT * FROM PLACE
		<where>
			<if test="searchCondition.toString() == '장소명'">
				PLACE_NAME LIKE '%' || #{searchValue} || '%' 
			</if>
			<if test="searchCondition.toString() == '주소'">
				PLACE_ADDRESS LIKE '%' || #{searchValue} || '%' 
			</if>
		</where>
	</select>
	
	<select id="selectPlaceReviewList" resultMap="PlaceReviewResultMap">
		SELECT * FROM PLACE_REVIEW
		WHERE PLACE_KEY = #{placeKey}
	</select>
	
	<insert id="insertPlaceReview">
		INSERT INTO PLACE_REVIEW
		VALUES(SEQ_PRKEY.NEXTVAL, #{placeKey}, #{prScore}, #{prTitle}, #{prContent}, SYSDATE, #{prHits}, #{prPhoto}, #{memberId})
	</insert>
	
	<select id="selectOne" resultMap="PlaceResultMap">
		SELECT * FROM PLACE
		WHERE PLACE_KEY = #{placeKey}
	</select>
</mapper>
